[Unit]
Description=ManLab AutoStart Service

[Service]
Type=simple
User=root
ExecStart=/root/ManLab/bin/ManLab autostart

[Install]
WantedBy=multi-user.target